@model IEnumerable<DoAn.Models.GIOITHIEU>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="row" style="margin-left:10px">
    <div class="col-sm-12">
        <h2>GIỚI THIỆU</h2>
        <p><a class="btn btn-success" style="border-radius:0" href="/admin/gioithieux/Create">THÊM MỚI</a></p>
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    Tên
                </th>
                <th>
                    Nội Dung
                </th>
                <th>
                    Tiêu Đề Seo
                </th>
                <th>
                    Từ Khóa
                </th>
                <th>
                    Hình Ảnh
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ten)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NoiDung)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TieuDeSeo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TuKhoa)
                    </td>
                    <td>
                        <img src="@item.HinhAnh" width="100" />
                    </td>
                    <td>
                        <a class="btn btn-warning btn-xs" style="border-radius:0" href="/Admin/gioithieux/edit/@item.ID"><i class="fa fa-edit"></i></a> |

                        <a class="btn btn-danger btn-xs" style="border-radius:0" href="/Admin/gioithieux/delete/@item.ID"><i class="fa fa-recycle"></i></a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
