@model DoAn.Models.DMSP

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row" style="margin-left:10px">

    <div class="col-sm-12">
        <h2>CHỈNH SỬA THÔNG TIN DANH MỤC SẢN PHẨM</h2>

       @using (Html.BeginForm("Edit", "dmsps", FormMethod.Post, new { enctype = "multipart/form-data" }))
       {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.HinhAnh)

                <div class="form-group">
                    @Html.Label("ID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Tên Loại", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TenLoai, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Tiêu Đề Seo", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TieuDeSeo, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Từ Khóa", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TuKhoa, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Hình ảnh", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <img src="@Model.HinhAnh" />
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Thay đổi hình ảnh", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="file" id="hinhanh" name="hinhanh" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="LƯU LẠI" class="btn btn-success" />
                        <a class="btn btn-danger" href="/Admin/dmsps">HỦY</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

