@model DoAn.Models.HOADON

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HOADON</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ThoiGian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhanVienID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVienID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PTTTID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PTTTID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongDonHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongDonHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KHACHHANG.TenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACHHANG.TenKH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
