@model DoAn.Models.DMTT

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DMTT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenDMTT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDMTT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayCN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayCN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TuKhoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TuKhoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TieuDeSeo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TieuDeSeo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
