@model IEnumerable<DoAn.Models.DMTT>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Thêm Mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
          Tên Loại Tin Tức
        </th>
        <th>
           Ngày Cập Nhật
        </th>
        <th>
          Mô tả
        </th>
        <th>
          Từ Khóa
        </th>
        <th>
           Tiêu Đề Seo
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenDMTT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayCN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TuKhoa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TieuDeSeo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
           
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
