@model DoAn.Models.FOOTER

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>XÓA FOOTER</h2>

<h3>BẠN CÓ MUỐN XÓA?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrang)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="XÓA" class="btn btn-success" /> |
            @Html.ActionLink("Trở Về", "Index")
        </div>
    }
</div>
