@model DoAn.Models.CHINHSACH

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CHINHSACH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenChinhSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenChinhSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TuKhoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TuKhoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TieuDeSeo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TieuDeSeo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DMCHINHSACH.TenDM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DMCHINHSACH.TenDM)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
